<div class="game-page">

  <h1 class="title">Simon The Game</h1>

  <div class="gameBoard" [class.disabled]="round === 0">
    <div class="button button_blue" [class.active-button]="activeButton === 1"
         (click)="chooseUserButton(1)"></div>
    <div class="button button_red" [class.active-button]="activeButton === 2"
         (click)="chooseUserButton(2)"></div>
    <div class="button button_green" [class.active-button]="activeButton === 3"
         (click)="chooseUserButton(3)"></div>
    <div class="button button_yellow" [class.active-button]="activeButton === 4"
         (click)="chooseUserButton(4)"></div>
  </div>
  <div class="sidebar">
    <h3>Лучший счет:{{score}}</h3>
    <h2>Раунд:{{round}}</h2>
    <div class="loose" *ngIf="looseMessage">{{looseMessage}}</div>
    <button class="button-start"
            (click)="playGame()"
            [disabled]="round > 0">
      Старт
    </button>
    <div class="sustainability">
      <h3>Сложность:</h3>
      <li>
        <input type="radio" id="light" name="sustainability"
               value="light" checked (click)="changeComplexity(1500)" [disabled]="round > 0">
        <label for="light">Легкая</label>
      </li>
      <li>
        <input type="radio" id="medium" name="sustainability"
               value="medium" (click)="changeComplexity(1000)" [disabled]="round > 0">
        <label for="medium">Средняя</label>
      </li>
      <li>
        <input type="radio" id="hard" name="sustainability"
               value="hard" (click)="changeComplexity(600)" [disabled]="round > 0">
        <label for="hard">Тяжелая</label>
      </li>
    </div>
  </div>
</div>
